#am{
    height: 60px;
    font-size:25px;
    color:white;
    


    
    background-color:black;
    border-radius:12px;
    
}

button{
    background-color:#f08804;
    cursor: pointer;

}
#search:active{
    color: black;
    opacity:0.7;
    background-color: aquamarine;



}
#search:hover{
    opacity:0.6;
}
*{
    padding: 0;
    margin: 0;

}
a{
    margin-right: 150px;
}
.main{
    height: 100px;
    width: 100px; 
    border:2px solid black;
    margin: 30px;
    display: inline-block;
    
}
#a:hover {
   background-color: slategray;
}
