*{
    margin: 0;
    padding: 0;

}

h1{
    color:rgb(82, 11, 25);
}

.design{
    margin-left: 20px;
    padding-top:7px;
    padding-bottom:7px;
    padding-right:15px;
    padding-left:15px;
    border:none;
    background-color:green;
    color:white;
    font-size:13px;
    cursor: pointer;
    transition:padding-left 0.15s,padding-right 0.15s,margin-left 0.15s;

}
.design:hover{
    padding-left:20px;
    padding-right:20px;
    margin-left:15px;

}

